In [1]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-

"""
{Core Image ML Preparation - Notebook 1
Labeling and image path dataset acquisition from Postgresql database.}

{INTERNAL USE ONLY}
"""

__author__ = '{Malte Schade}'
__copyright__ = 'Copyright {2022}, {Core Image ML Preparation - Notebook 1}'
__version__ = '{1}.{0}.{0}'
__maintainer__ = '{Malte Schade}'
__email__ = '{contact@malteschade.com}'
__status__ = '{FINISHED}'

# built-in modules
import os
import json
import shutil

# other modules
import pandas as pd
import numpy as np

# constants
SITE_NA = '%Tapah%'
IMG_PATH = 'C:/DATA/Sites/MY21_TAPAH/_GEOLOGY/'
SPLIT = '_GEOLDB/'
META_PATH = 'metadata.csv'
IMG_FOLDER = 'images'
TOKENS_PATH = 'tokens.json'

# settings
pd.set_option('display.max_columns', None)

In [2]:
# load jupyter notebook sql extension
%load_ext sql

# establish sql connection using a token file
sql_token = json.load(open(TOKENS_PATH))
%sql {sql_token['link']}

In [3]:
%%sql df_query <<
SELECT
    fullname,row_nb,p1x,p1y,p2x,p2y,p3x,p3y,p4x,p4y
FROM
    geolschema.log_pic
WHERE
    site_na LIKE :SITE_NA

 * postgresql://LccMSchade:***@mystphib02.lhoist.com:5438/lextapah
1802 rows affected.
Returning data to local variable df_query

In [4]:
# save query result to df
df = df_query.DataFrame()
df

,fullname,row_nb,p1x,p1y,p2x,p2y,p3x,p3y,p4x,p4y
0,C:\Users\Vincent.DEGROOTE\LHOIST\GEOLOGY & MIN...,5,16,854,2035,865,1987,1516,9,1495
1,C:\Users\Vincent.DEGROOTE\LHOIST\GEOLOGY & MIN...,6,315,853,2159,847,2164,1576,323,1587
2,C:\Users\Vincent.DEGROOTE\LHOIST\GEOLOGY & MIN...,6,108,847,2156,855,2143,1635,118,1661
3,C:\Users\Vincent.DEGROOTE\LHOIST\GEOLOGY & MIN...,5,73,1801,4563,1760,4581,3320,91,3288
4,C:\Users\Vincent.DEGROOTE\LHOIST\GEOLOGY & MIN...,5,14,1771,4579,1757,4589,3342,19,3327
...,...,...,...,...,...,...,...,...,...,...
1797,C:\Users\Vincent.DEGROOTE\LHOIST\GEOLOGY & MIN...,6,114,820,2160,851,2127,1633,131,1614
1798,C:\Users\Vincent.DEGROOTE\LHOIST\GEOLOGY & MIN...,6,118,829,2164,855,2129,1639,139,1622
1799,C:\Users\Vincent.DEGROOTE\LHOIST\GEOLOGY & MIN...,6,96,841,2145,857,2113,1643,114,1637
1800,C:\Users\Vincent.DEGROOTE\LHOIST\GEOLOGY & MIN...,6,114,829,2160,853,2125,1643,127,1620
1801,C:\Users\Vincent.DEGROOTE\LHOIST\GEOLOGY & MIN...,6,102,849,2180,867,2154,1659,110,1677

In [5]:
def load_img(x: pd.Series) -> pd.Series:
    """
    Replaces fullname with accessible file path.Copies images to local image folder.
    Sets entries to nan for missing images.

    Parameters
    ----------
    x: pd.Series
        Rows of a pandas dataframe as Series with an absolute filename as the first entry.

    Returns
    ----------
    x/np.nan: pd.Series
        Orginal Series object or Series with nan values if no image is found.
    """
    try:
        # define source and destination path for image
        dst = x[0].replace('\\', '/').split(SPLIT)[1]
        src = IMG_PATH+SPLIT+dst
        dst = os.path.join(os.path.dirname(os.getcwd()), IMG_FOLDER, dst)

        # copy image file to local folder
        try:
            shutil.copy(src, dst)

        # create folder structure if not already there
        except IOError as io_err:
            os.makedirs(os.path.dirname(dst))
            shutil.copy(src, dst)

        # replace metadata path with new path
        x[0] = dst
        return x

    # return nan for missing images
    except IndexError:
        return np.nan

In [6]:
# save image files to image folder and filter metadata entries with no image file
df = df.apply(load_img, axis=1)
df.dropna(inplace=True)
df

,fullname,row_nb,p1x,p1y,p2x,p2y,p3x,p3y,p4x,p4y
0,c:\Users\malte.schade\OneDrive - Lhoist\Deskto...,5.0,16.0,854.0,2035.0,865.0,1987.0,1516.0,9.0,1495.0
1,c:\Users\malte.schade\OneDrive - Lhoist\Deskto...,6.0,315.0,853.0,2159.0,847.0,2164.0,1576.0,323.0,1587.0
2,c:\Users\malte.schade\OneDrive - Lhoist\Deskto...,6.0,108.0,847.0,2156.0,855.0,2143.0,1635.0,118.0,1661.0
3,c:\Users\malte.schade\OneDrive - Lhoist\Deskto...,5.0,73.0,1801.0,4563.0,1760.0,4581.0,3320.0,91.0,3288.0
4,c:\Users\malte.schade\OneDrive - Lhoist\Deskto...,5.0,14.0,1771.0,4579.0,1757.0,4589.0,3342.0,19.0,3327.0
...,...,...,...,...,...,...,...,...,...,...
1797,c:\Users\malte.schade\OneDrive - Lhoist\Deskto...,6.0,114.0,820.0,2160.0,851.0,2127.0,1633.0,131.0,1614.0
1798,c:\Users\malte.schade\OneDrive - Lhoist\Deskto...,6.0,118.0,829.0,2164.0,855.0,2129.0,1639.0,139.0,1622.0
1799,c:\Users\malte.schade\OneDrive - Lhoist\Deskto...,6.0,96.0,841.0,2145.0,857.0,2113.0,1643.0,114.0,1637.0
1800,c:\Users\malte.schade\OneDrive - Lhoist\Deskto...,6.0,114.0,829.0,2160.0,853.0,2125.0,1643.0,127.0,1620.0
1801,c:\Users\malte.schade\OneDrive - Lhoist\Deskto...,6.0,102.0,849.0,2180.0,867.0,2154.0,1659.0,110.0,1677.0

In [7]:
# save df to csv
df.to_csv(os.path.join(os.path.dirname(os.getcwd()), META_PATH))